# Introdução à Análise de Dados com Pandas
## Processo Seletivo LADS - Etapa 2

### Instruções:
- Este notebook é um guia introdutório à análise de dados com Pandas
- Cada seção contém exemplos explicativos e exercícios práticos
- Complete todos os exercícios nas células marcadas com "SEU CÓDIGO AQUI"

### O que será avaliado:
- Compreensão dos conceitos apresentados
- Capacidade de aplicar os conceitos em problemas práticos
- Organização e clareza do código
- Análise e interpretação dos resultados

Vamos começar nossa jornada no mundo da análise de dados!

---

## 1. Primeiros Passos com Pandas

### 1.1 O que é o Pandas?

Pandas é uma biblioteca Python para análise e manipulação de dados. Ele oferece estruturas de dados flexíveis e ferramentas para trabalhar com dados estruturados de forma eficiente.

As duas principais estruturas de dados do Pandas são:
- **Series**: Array unidimensional rotulado
- **DataFrame**: Estrutura bidimensional tabular com colunas rotuladas

Vamos começar importando as bibliotecas necessárias:

In [ ]:
# Importando as bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Configurando o matplotlib para mostrar gráficos no notebook
%matplotlib inline

### 1.2 Criando um DataFrame

Vamos criar um conjunto de dados de exemplo sobre vendas de uma loja virtual:

In [9]:
# Criando um dataset de exemplo
np.random.seed(42)  # Para garantir reprodutibilidade

# Criando dados de exemplo
datas = pd.date_range(start='2023-01-01', end='2023-12-31', freq='D')
categorias = ['Eletrônicos', 'Roupas', 'Alimentos', 'Casa', 'Beleza']
produtos = {
    'Eletrônicos': ['Smartphone', 'Laptop', 'Tablet', 'Fones de ouvido', 'Smart TV'],
    'Roupas': ['Camiseta', 'Calça', 'Vestido', 'Sapato', 'Jaqueta'],
    'Alimentos': ['Arroz', 'Feijão', 'Óleo', 'Açúcar', 'Café'],
    'Casa': ['Sofá', 'Mesa', 'Cadeira', 'Cama', 'Armário'],
    'Beleza': ['Shampoo', 'Condicionador', 'Sabonete', 'Perfume', 'Hidratante']
}
regioes = ['Norte', 'Nordeste', 'Centro-Oeste', 'Sudeste', 'Sul']
estados = {
    'Norte': ['AM', 'PA', 'RO', 'RR', 'AC'],
    'Nordeste': ['BA', 'PE', 'CE', 'MA', 'PB'],
    'Centro-Oeste': ['DF', 'GO', 'MT', 'MS'],
    'Sudeste': ['SP', 'RJ', 'MG', 'ES'],
    'Sul': ['PR', 'SC', 'RS']
}
canais = ['Online', 'Loja Física', 'Aplicativo', 'Telefone']

# Gerando 1000 registros aleatórios
n_registros = 1000
data_vendas = []

for _ in range(n_registros):
    data = np.random.choice(datas)
    categoria = np.random.choice(categorias)
    produto = np.random.choice(produtos[categoria])
    regiao = np.random.choice(regioes)
    estado = np.random.choice(estados[regiao])
    canal = np.random.choice(canais)
    valor = round(np.random.uniform(10, 5000), 2)  # Valor entre R$10 e R$5000
    quantidade = np.random.randint(1, 10)  # Entre 1 e 9 itens
    avaliacao = np.random.randint(1, 6)  # Avaliação de 1 a 5 estrelas
    
    data_vendas.append({
        'data': data,
        'categoria': categoria,
        'produto': produto,
        'regiao': regiao,
        'estado': estado,
        'canal_venda': canal,
        'valor_venda': valor,
        'quantidade': quantidade,
        'avaliacao': avaliacao
    })

# Criando o DataFrame
df_vendas = pd.DataFrame(data_vendas)

# Salvando como CSV para uso futuro
df_vendas.to_csv('dados_vendas.csv', index=False)

# Visualizando as primeiras linhas
df_vendas.head()

,data,categoria,produto,regiao,estado,canal_venda,valor_venda,quantidade,avaliacao
0,2023-04-13,Casa,Armário,Centro-Oeste,MS,Online,2988.28,3,3
1,2023-03-29,Beleza,Perfume,Centro-Oeste,GO,Online,4849.85,6,2
2,2023-07-11,Casa,Armário,Norte,RR,Loja Física,2628.53,9,1
3,2023-02-28,Roupas,Sapato,Sudeste,ES,Aplicativo,2285.79,3,4
4,2023-02-24,Casa,Sofá,Centro-Oeste,DF,Aplicativo,3404.73,9,2

### 1.3 Explorando os Dados Básicos

No Pandas, existem vários métodos para explorar e entender os dados:

In [12]:
# Visualizando as primeiras linhas com head()
print("Primeiras 5 linhas do DataFrame:")
df_vendas.head()

Primeiras 5 linhas do DataFrame:

,data,categoria,produto,regiao,estado,canal_venda,valor_venda,quantidade,avaliacao
0,2023-04-13,Casa,Armário,Centro-Oeste,MS,Online,2988.28,3,3
1,2023-03-29,Beleza,Perfume,Centro-Oeste,GO,Online,4849.85,6,2
2,2023-07-11,Casa,Armário,Norte,RR,Loja Física,2628.53,9,1
3,2023-02-28,Roupas,Sapato,Sudeste,ES,Aplicativo,2285.79,3,4
4,2023-02-24,Casa,Sofá,Centro-Oeste,DF,Aplicativo,3404.73,9,2

In [13]:
# Visualizando as últimas linhas com tail()
print("Últimas 5 linhas do DataFrame:")
df_vendas.tail()

Últimas 5 linhas do DataFrame:

,data,categoria,produto,regiao,estado,canal_venda,valor_venda,quantidade,avaliacao
995,2023-11-11,Eletrônicos,Laptop,Nordeste,MA,Online,3838.49,9,2
996,2023-05-12,Alimentos,Feijão,Centro-Oeste,GO,Loja Física,540.33,1,3
997,2023-11-27,Beleza,Shampoo,Centro-Oeste,DF,Loja Física,4176.15,2,1
998,2023-11-06,Roupas,Calça,Nordeste,PE,Loja Física,2413.13,3,4
999,2023-05-16,Alimentos,Óleo,Sudeste,MG,Loja Física,1162.59,1,3

In [15]:
# Verificando o formato do DataFrame (linhas, colunas) com shape
print(f"Formato do DataFrame: {df_vendas.shape}")
print(f"Número de linhas: {df_vendas.shape[0]}")
print(f"Número de colunas: {df_vendas.shape[1]}")

Formato do DataFrame: (1000, 9)
Número de linhas: 1000
Número de colunas: 9

In [17]:
print("Nomes das colunas:")
print(df_vendas.columns.tolist())

Nomes das colunas:
['data', 'categoria', 'produto', 'regiao', 'estado', 'canal_venda', 'valor_venda', 'quantidade', 'avaliacao']

### 1.4 Informações e Estatísticas do DataFrame

Pandas oferece métodos para obter informações detalhadas e estatísticas do DataFrame:

In [19]:
# Verificando informações sobre o DataFrame com info()
print("Informações do DataFrame:")
df_vendas.info()

Informações do DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   data         1000 non-null   datetime64[ns]
 1   categoria    1000 non-null   object
 2   produto      1000 non-null   object
 3   regiao       1000 non-null   object
 4   estado       1000 non-null   object
 5   canal_venda  1000 non-null   object
 6   valor_venda  1000 non-null   float64
 7   quantidade   1000 non-null   int64
 8   avaliacao    1000 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(5)
memory usage: 70.4+ KB

In [21]:
# Estatísticas descritivas com describe()
print("Estatísticas descritivas:")
df_vendas.describe()

Estatísticas descritivas:

                             data  valor_venda  quantidade    avaliacao
count                        1000   1000.00000  1000.00000  1000.000000
mean   2023-06-28 22:39:21.600000   2436.61369     5.02400     3.065000
min           2023-01-01 00:00:00     11.13000     1.00000     1.000000
25%           2023-03-30 00:00:00   1168.71000     3.00000     2.000000
50%           2023-06-28 12:00:00   2418.67000     5.00000     3.000000
75%           2023-09-29 06:00:00   3702.18000     7.00000     4.000000
max           2023-12-31 00:00:00   4997.31000     9.00000     5.000000
std                           NaN   1459.09861     2.60196     1.413072

In [22]:
# Contagem de valores únicos com nunique()
print("Número de valores únicos em cada coluna:")
df_vendas.nunique()

Número de valores únicos em cada coluna:

data            338
categoria         5
produto          25
regiao            5
estado           21
canal_venda       4
valor_venda    1000
quantidade        9
avaliacao         5
dtype: int64

### 1.5 Verificando Valores Únicos e Nulos

In [23]:
# Verificando valores únicos em uma coluna categórica
print("Categorias únicas:")
df_vendas['categoria'].unique()

Categorias únicas:

array([np.str_('Casa'), np.str_('Beleza'), np.str_('Roupas'),
       np.str_('Alimentos'), np.str_('Eletrônicos')], dtype=object)

In [24]:
# Contando ocorrências de cada valor
print("Contagem de cada categoria:")
df_vendas['categoria'].value_counts()

Contagem de cada categoria:

categoria
Alimentos      212
Beleza         209
Roupas         200
Eletrônicos    191
Casa           188
Name: count, dtype: int64

In [26]:
print("Valores nulos em cada coluna:")
df_vendas.isnull().sum()

Valores nulos em cada coluna:

data           0
categoria      0
produto        0
regiao         0
estado         0
canal_venda    0
valor_venda    0
quantidade     0
avaliacao      0
dtype: int64

#### Exercício 1: Exploração Básica de Dados
Agora é sua vez de aplicar o que aprendeu para explorar o DataFrame:

##### 1.1 Use o método head() para mostrar as 10 primeiras linhas do DataFrame

In [ ]:
# SEU CÓDIGO AQUI

##### 1.2 Use shape para verificar quantas linhas e colunas tem o DataFrame

In [ ]:
# SEU CÓDIGO AQUI

##### 1.3 Use o método unique() para listar todas as regiões no DataFrame

In [ ]:
# SEU CÓDIGO AQUI

##### 1.4 Use o método value_counts() para contar quantas vendas existem por canal_venda

In [ ]:
# SEU CÓDIGO AQUI

##### 1.5 Use o método describe() para obter estatísticas da coluna 'valor_venda'

In [ ]:
# SEU CÓDIGO AQUI

---

## 2. Seleção e Filtragem de Dados

### 2.1 Selecionando Colunas

O Pandas oferece várias maneiras de selecionar colunas em um DataFrame:

In [35]:
# Selecionando uma única coluna (retorna uma Series)
valores_venda = df_vendas['valor_venda']
print("Primeiros 5 valores da coluna 'valor_venda':")
valores_venda.head()

Primeiros 5 valores da coluna 'valor_venda':

0    2988.28
1    4849.85
2    2628.53
3    2285.79
4    3404.73
Name: valor_venda, dtype: float64

In [36]:
print(f"Tipo de dados: {type(valores_venda)}")

Tipo de dados: <class 'pandas.core.series.Series'>

In [37]:
# Selecionando múltiplas colunas (retorna um DataFrame)
selecao = df_vendas[['produto', 'valor_venda', 'quantidade']]

print("Primeiras 5 linhas das colunas selecionadas:")
selecao.head()

Primeiras 5 linhas das colunas selecionadas:

   produto  valor_venda  quantidade
0  Armário      2988.28           3
1  Perfume      4849.85           6
2  Armário      2628.53           9
3   Sapato      2285.79           3
4     Sofá      3404.73           9

In [34]:
print(f"Tipo de dados: {type(selecao)}")

Tipo de dados: <class 'pandas.core.frame.DataFrame'>

### 2.2 Filtrando Linhas com Condições

Podemos filtrar linhas do DataFrame usando condições lógicas:

In [38]:
# Filtragem básica: vendas com valor acima de 1000
vendas_altas = df_vendas[df_vendas['valor_venda'] > 1000]
print(f"Número de vendas com valor acima de R$1000: {len(vendas_altas)}")

print("Primeiras 5 vendas com valor acima de R$1000:")
vendas_altas.head()

Número de vendas com valor acima de R$1000: 785
Primeiras 5 vendas com valor acima de R$1000:

,data,categoria,produto,regiao,estado,canal_venda,valor_venda,quantidade,avaliacao
0,2023-04-13,Casa,Armário,Centro-Oeste,MS,Online,2988.28,3,3
1,2023-03-29,Beleza,Perfume,Centro-Oeste,GO,Online,4849.85,6,2
2,2023-07-11,Casa,Armário,Norte,RR,Loja Física,2628.53,9,1
3,2023-02-28,Roupas,Sapato,Sudeste,ES,Aplicativo,2285.79,3,4
4,2023-02-24,Casa,Sofá,Centro-Oeste,DF,Aplicativo,3404.73,9,2

In [41]:
# Filtrando com múltiplas condições usando operadores lógicos & (AND) e | (OR)

# Vendas de Eletrônicos na região Sul
vendas_eletronicos_sul = df_vendas[(df_vendas['categoria'] == 'Eletrônicos') & 
                                   (df_vendas['regiao'] == 'Sul')]
print(f"Número de vendas de Eletrônicos na região Sul: {len(vendas_eletronicos_sul)}")

print("Primeiras 5 vendas de Eletrônicos na região Sul:")
vendas_eletronicos_sul.head()

Número de vendas de Eletrônicos na região Sul: 46
Primeiras 5 vendas de Eletrônicos na região Sul:

,data,categoria,produto,regiao,estado,canal_venda,valor_venda,quantidade,avaliacao
43,2023-04-27,Eletrônicos,Fones de ouvido,Sul,PR,Loja Física,4576.92,2,1
48,2023-04-06,Eletrônicos,Smart TV,Sul,RS,Loja Física,142.29,4,4
65,2023-12-27,Eletrônicos,Tablet,Sul,SC,Online,1880.60,1,1
107,2023-05-25,Eletrônicos,Laptop,Sul,RS,Aplicativo,593.32,6,3
109,2023-02-07,Eletrônicos,Smartphone,Sul,PR,Aplicativo,3722.29,4,2

In [43]:
# Filtrando com OR lógico

# Vendas muito altas (>3000) ou com avaliação máxima (5)
vendas_premium = df_vendas[(df_vendas['valor_venda'] > 3000) | 
                          (df_vendas['avaliacao'] == 5)]

print(f"Número de vendas premium: {len(vendas_premium)}")

print("Primeiras 5 vendas premium:")
vendas_premium.head()

Número de vendas premium: 519
Primeiras 5 vendas premium:

,data,categoria,produto,regiao,estado,canal_venda,valor_venda,quantidade,avaliacao
1,2023-03-29,Beleza,Perfume,Centro-Oeste,GO,Online,4849.85,6,2
4,2023-02-24,Casa,Sofá,Centro-Oeste,DF,Aplicativo,3404.73,9,2
6,2023-09-21,Alimentos,Arroz,Sudeste,RJ,Telefone,3779.25,6,2
8,2023-07-09,Beleza,Hidratante,Nordeste,PB,Telefone,1790.20,9,5
10,2023-03-22,Alimentos,Óleo,Norte,RO,Online,4632.24,9,4

### 2.3 Filtragem com isin() e between()

Pandas oferece métodos especiais para filtragens mais específicas:

In [44]:
# Usando isin() para filtrar com uma lista de valores

# Vendas nas regiões Sul e Sudeste
regioes_sul_sudeste = ['Sul', 'Sudeste']
vendas_sul_sudeste = df_vendas[df_vendas['regiao'].isin(regioes_sul_sudeste)]

print(f"Número de vendas nas regiões Sul e Sudeste: {len(vendas_sul_sudeste)}")

print("Primeiras 5 vendas nas regiões Sul e Sudeste:")
vendas_sul_sudeste.head()

Número de vendas nas regiões Sul e Sudeste: 413
Primeiras 5 vendas nas regiões Sul e Sudeste:

,data,categoria,produto,regiao,estado,canal_venda,valor_venda,quantidade,avaliacao
3,2023-02-28,Roupas,Sapato,Sudeste,ES,Aplicativo,2285.79,3,4
6,2023-09-21,Alimentos,Arroz,Sudeste,RJ,Telefone,3779.25,6,2
14,2023-02-21,Beleza,Perfume,Sul,RS,Aplicativo,2057.81,4,5
15,2023-06-09,Alimentos,Óleo,Sudeste,RJ,Loja Física,4042.52,9,5
16,2023-05-14,Casa,Cama,Sudeste,ES,Telefone,4463.87,7,4

In [46]:
# Usando between() para filtrar valores em um intervalo

# Vendas com valor entre 1000 e 2000
vendas_1000_2000 = df_vendas[df_vendas['valor_venda'].between(1000, 2000)]

print(f"Número de vendas entre R$1000 e R$2000: {len(vendas_1000_2000)}")

print("Primeiras 5 vendas entre R$1000 e R$2000:")
vendas_1000_2000.head()

Número de vendas entre R$1000 e R$2000: 209
Primeiras 5 vendas entre R$1000 e R$2000:

,data,categoria,produto,regiao,estado,canal_venda,valor_venda,quantidade,avaliacao
7,2023-09-17,Beleza,Condicionador,Nordeste,MA,Loja Física,1981.80,4,4
8,2023-07-09,Beleza,Hidratante,Nordeste,PB,Telefone,1790.20,9,5
9,2023-01-15,Beleza,Shampoo,Norte,AM,Telefone,1980.46,8,3
11,2023-05-15,Eletrônicos,Fones de ouvido,Nordeste,BA,Telefone,1860.38,8,5
18,2023-12-25,Alimentos,Arroz,Sul,PR,Aplicativo,1354.37,8,3

#### Exercício 2: Seleção e Filtragem de Dados
Agora, pratique a seleção e filtragem de dados com os seguintes exercícios:

##### 2.1 Selecione apenas as colunas 'data', 'produto' e 'valor_venda' do DataFrame

In [ ]:
# SEU CÓDIGO AQUI

##### 2.2 Filtre o DataFrame para mostrar apenas as vendas do canal 'Online'

In [ ]:
# SEU CÓDIGO AQUI

##### 2.3 Filtre o DataFrame para mostrar vendas de 'Roupas' com valor acima de 500

In [ ]:
# SEU CÓDIGO AQUI

##### 2.4 Use o método isin() para filtrar vendas dos produtos 'Smartphone' e 'Laptop'

In [ ]:
# SEU CÓDIGO AQUI

##### 2.5 Use o método between() para encontrar vendas com quantidades entre 3 e 5 unidades

In [ ]:
# SEU CÓDIGO AQUI

## 3. Ordenação e Indexação

### 3.1 Ordenando Dados

O método `sort_values()` permite ordenar o DataFrame por uma ou mais colunas:

In [47]:
# Ordenando por uma coluna em ordem crescente (padrão)
df_ordenado_crescente = df_vendas.sort_values('valor_venda')

print("5 vendas com os menores valores:")
df_ordenado_crescente.head()

5 vendas com os menores valores:

,data,categoria,produto,regiao,estado,canal_venda,valor_venda,quantidade,avaliacao
684,2023-06-14,Eletrônicos,Smart TV,Nordeste,BA,Loja Física,11.13,4,2
17,2023-08-19,Eletrônicos,Smartphone,Norte,RO,Loja Física,12.60,9,3
450,2023-12-18,Eletrônicos,Tablet,Sudeste,MG,Telefone,20.07,4,1
339,2023-03-31,Casa,Mesa,Sul,PR,Aplicativo,20.50,7,1
316,2023-07-31,Beleza,Condicionador,Nordeste,CE,Telefone,29.05,7,1

In [48]:
# Ordenando por uma coluna em ordem decrescente
df_ordenado_decrescente = df_vendas.sort_values('valor_venda', ascending=False)

print("5 vendas com os maiores valores:")
df_ordenado_decrescente.head()

5 vendas com os maiores valores:

,data,categoria,produto,regiao,estado,canal_venda,valor_venda,quantidade,avaliacao
887,2023-03-27,Alimentos,Café,Sudeste,MG,Aplicativo,4997.31,1,4
152,2023-09-04,Beleza,Hidratante,Nordeste,CE,Aplicativo,4989.69,4,5
806,2023-03-05,Beleza,Hidratante,Nordeste,CE,Aplicativo,4988.38,3,5
75,2023-11-07,Casa,Sofá,Sul,RS,Online,4983.22,5,5
59,2023-02-08,Beleza,Hidratante,Nordeste,PE,Aplicativo,4979.70,5,3

In [49]:
# Ordenando por múltiplas colunas

# Primeiro por categoria (A-Z) e depois por valor_venda (maior para menor)
df_ordenado_multi = df_vendas.sort_values(['categoria', 'valor_venda'], 
                                         ascending=[True, False])

print("Ordenação por categoria e depois por valor (decrescente):")
df_ordenado_multi.head(10)

Ordenação por categoria e depois por valor (decrescente):

,data,categoria,produto,regiao,estado,canal_venda,valor_venda,quantidade,avaliacao
887,2023-03-27,Alimentos,Café,Sudeste,MG,Aplicativo,4997.31,1,4
673,2023-11-24,Alimentos,Açúcar,Centro-Oeste,MT,Online,4932.95,8,4
826,2023-11-21,Alimentos,Café,Nordeste,CE,Loja Física,4919.82,9,2
553,2023-07-24,Alimentos,Café,Sul,SC,Telefone,4918.00,9,2
753,2023-08-09,Alimentos,Óleo,Nordeste,MA,Loja Física,4914.90,2,4
735,2023-05-25,Alimentos,Feijão,Centro-Oeste,GO,Telefone,4862.58,8,5
308,2023-06-25,Alimentos,Café,Sudeste,RJ,Loja Física,4839.10,3,1
295,2023-11-01,Alimentos,Óleo,Norte,AC,Telefone,4837.11,9,1
164,2023-02-07,Alimentos,Café,Nordeste,PE,Loja Física,4810.99,5,5
674,2023-02-04,Alimentos,Óleo,Sul,RS,Aplicativo,4797.77,6,4

### 3.2 Redefinindo e Usando Índices

In [50]:
# Definindo uma coluna como índice
df_indexado = df_vendas.set_index('data')

print("DataFrame com 'data' como índice:")
df_indexado.head()

DataFrame com 'data' como índice:

,categoria,produto,regiao,estado,canal_venda,valor_venda,quantidade,avaliacao
data,,,,,,,,
2023-04-13,Casa,Armário,Centro-Oeste,MS,Online,2988.28,3,3
2023-03-29,Beleza,Perfume,Centro-Oeste,GO,Online,4849.85,6,2
2023-07-11,Casa,Armário,Norte,RR,Loja Física,2628.53,9,1
2023-02-28,Roupas,Sapato,Sudeste,ES,Aplicativo,2285.79,3,4
2023-02-24,Casa,Sofá,Centro-Oeste,DF,Aplicativo,3404.73,9,2

In [51]:
# Resetando o índice para voltar ao formato original
df_reset = df_indexado.reset_index()

print("DataFrame após reset do índice:")
df_reset.head()

DataFrame após reset do índice:

,data,categoria,produto,regiao,estado,canal_venda,valor_venda,quantidade,avaliacao
0,2023-04-13,Casa,Armário,Centro-Oeste,MS,Online,2988.28,3,3
1,2023-03-29,Beleza,Perfume,Centro-Oeste,GO,Online,4849.85,6,2
2,2023-07-11,Casa,Armário,Norte,RR,Loja Física,2628.53,9,1
3,2023-02-28,Roupas,Sapato,Sudeste,ES,Aplicativo,2285.79,3,4
4,2023-02-24,Casa,Sofá,Centro-Oeste,DF,Aplicativo,3404.73,9,2

In [54]:
# Acessando dados através do índice
# (Importante: assumindo que 'data' ainda é o índice)
print("Vendas em uma data específica:")
try:
    data_exemplo = df_indexado.index[0]  # Pegando a primeira data como exemplo
    print(f"Vendas em {data_exemplo}:")
    display(df_indexado.loc[data_exemplo])
except:
    print("Certifique-se de que o DataFrame está indexado por 'data'")

Vendas em uma data específica:
Vendas em 2023-04-13 00:00:00:

,categoria,produto,regiao,estado,canal_venda,valor_venda,quantidade,avaliacao
data,,,,,,,,
2023-04-13,Casa,Armário,Centro-Oeste,MS,Online,2988.28,3,3
2023-04-13,Alimentos,Arroz,Norte,PA,Online,4283.90,8,2
2023-04-13,Eletrônicos,Smartphone,Centro-Oeste,GO,Telefone,209.34,3,2
2023-04-13,Eletrônicos,Smartphone,Sul,SC,Online,3712.56,9,2

#### Exercício 3: Ordenação e Indexação
Agora, pratique a ordenação e indexação com os seguintes exercícios:

##### 3.1 Ordene o DataFrame por 'avaliacao' em ordem decrescente e mostre as 10 primeiras linhas

In [55]:
# SEU CÓDIGO AQUI

##### 3.2 Ordene o DataFrame primeiro por 'regiao' (A-Z) e depois por 'valor_venda' (maior para menor)

In [ ]:
# SEU CÓDIGO AQUI

##### 3.3 Defina a coluna 'produto' como índice do DataFrame e mostre as 5 primeiras linhas

In [ ]:
# SEU CÓDIGO AQUI

##### 3.4 Com o DataFrame indexado por 'produto' na questão anterior, acesse os dados do produto 'Smartphone' (se existir)

Dica: use o .loc

In [ ]:
# SEU CÓDIGO AQUI

##### 3.5 Resete o índice para retornar à forma original e mostre as 5 primeiras linhas

In [ ]:
# SEU CÓDIGO AQUI

---

## 4. Métodos Estatísticos e Agregações Básicas

O Pandas oferece diversos métodos para calcular estatísticas e resumir informações.

### 4.1 Estatísticas Básicas

In [57]:
# Calculando a média (mean) de uma coluna
media_valor = df_vendas['valor_venda'].mean()
print(f"Valor médio de venda: R${media_valor:.2f}")

Valor médio de venda: R$2436.61

In [58]:
# Calculando a soma (sum) de uma coluna
total_vendas = df_vendas['valor_venda'].sum()
print(f"Valor total de vendas: R${total_vendas:.2f}")

Valor total de vendas: R$2436613.69

In [59]:
# Calculando o mínimo (min) e máximo (max)
min_valor = df_vendas['valor_venda'].min()
max_valor = df_vendas['valor_venda'].max()

print(f"Menor valor de venda: R${min_valor:.2f}")
print(f"Maior valor de venda: R${max_valor:.2f}")

Menor valor de venda: R$11.13
Maior valor de venda: R$4997.31

In [60]:
# Calculando a mediana (median / 50º percentil)
mediana_valor = df_vendas['valor_venda'].median()
print(f"Valor mediano de venda: R${mediana_valor:.2f}")

Valor mediano de venda: R$2418.67

In [61]:
# Calculando outros percentis
percentil_25 = df_vendas['valor_venda'].quantile(0.25)
percentil_75 = df_vendas['valor_venda'].quantile(0.75)

print(f"25º percentil do valor de venda: R${percentil_25:.2f}")
print(f"75º percentil do valor de venda: R${percentil_75:.2f}")

25º percentil do valor de venda: R$1168.71
75º percentil do valor de venda: R$3702.18

In [62]:
# Calculando o desvio padrão (std) e variância (var)
desvio_padrao = df_vendas['valor_venda'].std()
variancia = df_vendas['valor_venda'].var()

print(f"Desvio padrão do valor de venda: R${desvio_padrao:.2f}")
print(f"Variância do valor de venda: R${variancia:.2f}")

Desvio padrão do valor de venda: R$1459.10
Variância do valor de venda: R$2128968.75

### 4.2 Agregações por Categoria

In [63]:
# Calculando a média por categoria
media_por_categoria = df_vendas.groupby('categoria')['valor_venda'].mean()

print("Valor médio de venda por categoria:")
media_por_categoria

Valor médio de venda por categoria:

categoria
Alimentos      2571.821274
Beleza         2312.624976
Casa           2531.609840
Eletrônicos    2408.354450
Roupas         2360.553050
Name: valor_venda, dtype: float64

In [64]:
# Calculando múltiplas estatísticas por categoria
stats_por_categoria = df_vendas.groupby('categoria')['valor_venda'].agg(['count', 'mean', 'min', 'max'])

print("Estatísticas por categoria:")
stats_por_categoria

Estatísticas por categoria:

             count         mean    min      max
categoria
Alimentos      212  2571.821274  63.95  4997.31
Beleza         209  2312.624976  29.05  4989.69
Casa           188  2531.609840  20.50  4983.22
Eletrônicos    191  2408.354450  11.13  4924.38
Roupas         200  2360.553050  29.06  4969.30

In [66]:
# Renomeando as colunas para melhor legibilidade
stats_por_categoria.columns = ['Contagem', 'Média', 'Mínimo', 'Máximo']

print("Estatísticas por categoria (colunas renomeadas):")
stats_por_categoria

Estatísticas por categoria (colunas renomeadas):

             Contagem        Média  Mínimo   Máximo
categoria
Alimentos         212  2571.821274   63.95  4997.31
Beleza            209  2312.624976   29.05  4989.69
Casa              188  2531.609840   20.50  4983.22
Eletrônicos       191  2408.354450   11.13  4924.38
Roupas            200  2360.553050   29.06  4969.30

#### Exercício 4: Estatísticas e Agregações
Agora, pratique o cálculo de estatísticas com os seguintes exercícios:

##### 4.1 Calcule a média da coluna 'quantidade'

In [67]:
# SEU CÓDIGO AQUI

##### 4.2 Calcule a soma total da coluna 'valor_venda' para ter o faturamento total

In [ ]:
# SEU CÓDIGO AQUI

##### 4.3 Encontre o valor máximo de 'avaliacao' de cada categoria de produto

In [ ]:
# SEU CÓDIGO AQUI

##### 4.4 Calcule o valor médio de venda por região e ordene do maior para o menor

In [ ]:
# SEU CÓDIGO AQUI

##### 4.5 Calcule a contagem, média, mínimo e máximo de 'valor_venda' para cada canal_venda

In [ ]:
# SEU CÓDIGO AQUI

---

## 5. Agrupamento de Dados (GroupBy)

### 5.1 O Conceito de GroupBy

O método `groupby()` é uma das ferramentas mais poderosas do Pandas. Ele permite dividir os dados em grupos com base em uma ou mais colunas e aplicar funções para calcular estatísticas para cada grupo.

O processo de GroupBy geralmente segue três etapas:
1. **Split**: Dividir os dados em grupos
2. **Apply**: Aplicar uma função a cada grupo
3. **Combine**: Combinar os resultados em uma estrutura de dados

In [68]:
# Exemplo básico: agrupando por categoria e calculando a média de valor_venda
media_por_categoria = df_vendas.groupby('categoria')['valor_venda'].mean()
print("Valor médio de venda por categoria:")
media_por_categoria

Valor médio de venda por categoria:

categoria
Alimentos      2571.821274
Beleza         2312.624976
Casa           2531.609840
Eletrônicos    2408.354450
Roupas         2360.553050
Name: valor_venda, dtype: float64

In [69]:
# Visualizando o tipo de dados retornado
print(f"\nTipo de dados: {type(media_por_categoria)}")

Tipo de dados: <class 'pandas.core.series.Series'>

### 5.2 Agregações com GroupBy

Podemos aplicar diferentes funções de agregação aos grupos:

In [70]:
# Contagem de vendas por região
contagem_por_regiao = df_vendas.groupby('regiao')['valor_venda'].count()

print("Número de vendas por região:")
contagem_por_regiao

Número de vendas por região:

regiao
Centro-Oeste    178
Nordeste        209
Norte           200
Sudeste         196
Sul             217
Name: valor_venda, dtype: int64

In [72]:
# Soma do valor de vendas por região
soma_por_regiao = df_vendas.groupby('regiao')['valor_venda'].sum()

print("Valor total de vendas por região:")
soma_por_regiao

Valor total de vendas por região:

regiao
Centro-Oeste    406418.29
Nordeste        543821.70
Norte           461760.61
Sudeste         492669.26
Sul             531943.83
Name: valor_venda, dtype: float64

In [74]:
# Calculando múltiplas estatísticas simultaneamente
stats_por_regiao = df_vendas.groupby('regiao')['valor_venda'].agg(['count', 'sum', 'mean', 'min', 'max'])

print("Estatísticas completas por região:")
stats_por_regiao

Estatísticas completas por região:

              count        sum         mean    min      max
regiao
Centro-Oeste    178  406418.29  2283.248820  47.24  4932.95
Nordeste        209  543821.70  2602.017703  11.13  4989.69
Norte           200  461760.61  2308.803050  12.60  4883.31
Sudeste         196  492669.26  2513.618673  20.07  4997.31
Sul             217  531943.83  2451.354055  20.50  4983.22

### 5.3 GroupBy com Múltiplas Colunas

Podemos agrupar por mais de uma coluna para análises mais detalhadas:

In [75]:
# Agrupando por região e categoria
vendas_regiao_categoria = df_vendas.groupby(['regiao', 'categoria'])['valor_venda'].sum()

print("Total de vendas por região e categoria:")
vendas_regiao_categoria

Total de vendas por região e categoria:

regiao        categoria
Centro-Oeste  Alimentos       90812.84
              Beleza          92219.34
              Casa            70218.56
              Eletrônicos     72089.70
              Roupas          81077.85
Nordeste      Alimentos      130182.92
              Beleza         119797.06
              Casa           115095.24
              Eletrônicos    100512.59
              Roupas          78233.89
Norte         Alimentos      109166.60
              Beleza          98961.74
              Casa            83276.47
              Eletrônicos     82667.65
              Roupas          87688.15
Sudeste       Alimentos       97509.99
              Beleza          80905.73
              Casa            97513.35
              Eletrônicos     92666.98
              Roupas         124073.21
Sul           Alimentos      117553.76
              Beleza          91454.75
              Casa           109839.03
              Eletrônicos    112058.78
              Roupas         101037.51
Name: valor_venda, dtype: float64

In [78]:
# Convertendo para um formato mais legível (tabela pivô)
vendas_pivot = vendas_regiao_categoria.unstack()

print("\nTabela pivô de vendas por região e categoria:")
vendas_pivot

Tabela pivô de vendas por região e categoria:

categoria     Alimentos     Beleza       Casa  Eletrônicos     Roupas
regiao
Centro-Oeste   90812.84   92219.34   70218.56     72089.70   81077.85
Nordeste      130182.92  119797.06  115095.24    100512.59   78233.89
Norte         109166.60   98961.74   83276.47     82667.65   87688.15
Sudeste        97509.99   80905.73   97513.35     92666.98  124073.21
Sul           117553.76   91454.75  109839.03    112058.78  101037.51

### 5.4 Aplicando Diferentes Agregações a Diferentes Colunas

In [79]:
# Aplicando diferentes funções a diferentes colunas
agg_multiplas_colunas = df_vendas.groupby('categoria').agg({
    'valor_venda': ['sum', 'mean'],
    'quantidade': ['sum', 'mean'],
    'avaliacao': 'mean'
})

print("Agregações múltiplas por categoria:")
agg_multiplas_colunas

Agregações múltiplas por categoria:

            valor_venda              quantidade           avaliacao
                    sum         mean        sum      mean      mean
categoria
Alimentos     545226.11  2571.821274       1082  5.103774  2.990566
Beleza        483338.62  2312.624976       1018  4.870813  3.062201
Casa          475942.65  2531.609840        942  5.010638  3.053191
Eletrônicos   459995.70  2408.354450        985  5.157068  3.162304
Roupas        472110.61  2360.553050        997  4.985000  3.065000

In [80]:
# Achatando os níveis de índice das colunas para facilitar o acesso
agg_multiplas_colunas.columns = ['Valor Total', 'Valor Médio', 'Quantidade Total', 'Quantidade Média', 'Avaliação Média']

print("Com colunas renomeadas:")
agg_multiplas_colunas

Com colunas renomeadas:

,Valor Total,Valor Médio,Quantidade Total,Quantidade Média,Avaliação Média
categoria,,,,,
Alimentos,545226.11,2571.821274,1082,5.103774,2.990566
Beleza,483338.62,2312.624976,1018,4.870813,3.062201
Casa,475942.65,2531.609840,942,5.010638,3.053191
Eletrônicos,459995.70,2408.354450,985,5.157068,3.162304
Roupas,472110.61,2360.553050,997,4.985000,3.065000

#### Exercício 5: Agrupamento com GroupBy
Agora, pratique o uso do GroupBy com os seguintes exercícios:

##### 5.1 Agrupe os dados por 'canal_venda' e calcule o valor total de vendas para cada canal

In [ ]:
# SEU CÓDIGO AQUI

##### 5.2 Agrupe por 'estado' e calcule a quantidade média de itens vendidos por estado

In [ ]:
# SEU CÓDIGO AQUI

##### 5.3 Agrupe por 'categoria' e calcule a avaliação média para cada categoria de produto

In [ ]:
# SEU CÓDIGO AQUI

##### 5.4 Agrupe por 'regiao' e 'canal_venda' e calcule o total de vendas para cada combinação

In [ ]:
# SEU CÓDIGO AQUI

##### 5.5 Aplique múltiplas agregações (count, sum, mean) à coluna 'valor_venda' após agrupar por 'produto'

In [82]:
# SEU CÓDIGO AQUI

---

## 6. Manipulação de Dados e Criação de Colunas

### 6.1 Manipulando Tipos de Dados

In [83]:
# Verificando o tipo de dado da coluna 'data'
print(f"Tipo de dado da coluna 'data': {df_vendas['data'].dtype}")

Tipo de dado da coluna 'data': datetime64[ns]

In [84]:
# Convertendo a coluna 'data' para datetime
df_vendas['data'] = pd.to_datetime(df_vendas['data'])
print(f"Novo tipo de dado da coluna 'data': {df_vendas['data'].dtype}")

Novo tipo de dado da coluna 'data': datetime64[ns]

In [88]:
# Extraindo componentes da data
df_vendas['ano'] = df_vendas['data'].dt.year
df_vendas['mes'] = df_vendas['data'].dt.month
df_vendas['dia'] = df_vendas['data'].dt.day
df_vendas['dia_semana'] = df_vendas['data'].dt.day_name()

# Visualizando as novas colunas
print("Primeiras linhas com as novas colunas de data:")
df_vendas[['data', 'ano', 'mes', 'dia', 'dia_semana']].head()

Primeiras linhas com as novas colunas de data:

        data   ano  mes  dia dia_semana
0 2023-04-13  2023    4   13   Thursday
1 2023-03-29  2023    3   29  Wednesday
2 2023-07-11  2023    7   11    Tuesday
3 2023-02-28  2023    2   28    Tuesday
4 2023-02-24  2023    2   24     Friday

### 6.2 Criando Novas Colunas com Operações Aritméticas

In [90]:
# Criando uma coluna de valor total (valor_venda * quantidade)
df_vendas['valor_total'] = df_vendas['valor_venda'] * df_vendas['quantidade']

# Criando uma coluna de desconto (10% do valor_venda)
df_vendas['desconto'] = df_vendas['valor_venda'] * 0.1

# Criando uma coluna de valor com desconto
df_vendas['valor_com_desconto'] = df_vendas['valor_venda'] - df_vendas['desconto']

# Visualizando as novas colunas
print("Primeiras linhas com as novas colunas calculadas:")
df_vendas[['valor_venda', 'quantidade', 'valor_total', 'desconto', 'valor_com_desconto']].head()

Primeiras linhas com as novas colunas calculadas:

   valor_venda  quantidade  valor_total  desconto  valor_com_desconto
0      2988.28           3      8964.84   298.828            2689.452
1      4849.85           6     29099.10   484.985            4364.865
2      2628.53           9     23656.77   262.853            2365.677
3      2285.79           3      6857.37   228.579            2057.211
4      3404.73           9     30642.57   340.473            3064.257

### 6.3 Criando Colunas Categóricas com apply() e funções personalizadas

In [93]:
# Definindo uma função para categorizar o valor da venda
def categorizar_valor(valor):
    if valor < 100:
        return 'Baixo'
    elif valor < 1000:
        return 'Médio'
    else:
        return 'Alto'

# Aplicando a função à coluna 'valor_venda' para criar a coluna 'faixa_preco'
df_vendas['faixa_preco'] = df_vendas['valor_venda'].apply(categorizar_valor)
df_vendas[['valor_venda', 'faixa_preco']].head()

   valor_venda faixa_preco
0      2988.28        Alto
1      4849.85        Alto
2      2628.53        Alto
3      2285.79        Alto
4      3404.73        Alto

In [94]:
# Definindo uma função para categorizar a quantidade
def categorizar_quantidade(qtd):
    if qtd <= 2:
        return 'Pequeno'
    elif qtd <= 5:
        return 'Médio'
    else:
        return 'Grande'

# Aplicando a função à coluna 'quantidade'
df_vendas['tamanho_pedido'] = df_vendas['quantidade'].apply(categorizar_quantidade)
df_vendas[['quantidade', 'tamanho_pedido']].head()

   quantidade tamanho_pedido
0           3          Médio
1           6         Grande
2           9         Grande
3           3          Médio
4           9         Grande

In [95]:
# Visualizando as novas colunas categóricas
print("Primeiras linhas com as novas colunas categóricas:")
df_vendas[['valor_venda', 'faixa_preco', 'quantidade', 'tamanho_pedido']].head()

Primeiras linhas com as novas colunas categóricas:

   valor_venda faixa_preco  quantidade tamanho_pedido
0      2988.28        Alto           3          Médio
1      4849.85        Alto           6         Grande
2      2628.53        Alto           9         Grande
3      2285.79        Alto           3          Médio
4      3404.73        Alto           9         Grande

In [97]:
# Verificando a contagem de cada categoria
print("Contagem por faixa de preço:")
df_vendas['faixa_preco'].value_counts()

Contagem por faixa de preço:

faixa_preco
Alto     785
Médio    191
Baixo     24
Name: count, dtype: int64

In [99]:
print("Contagem por tamanho de pedido:")
df_vendas['tamanho_pedido'].value_counts()

Contagem por tamanho de pedido:

tamanho_pedido
Grande     467
Médio      306
Pequeno    227
Name: count, dtype: int64

#### Exercício 6: Manipulação de Dados e Criação de Colunas
Agora, pratique a manipulação de dados e criação de colunas:

##### 6.1 Crie uma coluna 'trimestre' baseada no mês da venda (1: Jan-Mar, 2: Abr-Jun, etc.)
Dica: você pode usar a função math.ceil(mes/3) ou uma função personalizada

In [ ]:
# SEU CÓDIGO AQUI

##### 6.2 Crie uma coluna 'dia_util' que indique se a venda ocorreu em um dia útil (segunda a sexta) ou fim de semana (sábado e domingo)
Dica: use o atributo .dt.dayofweek (0-4 para dias da semana, 5-6 para fim de semana)

In [ ]:
# SEU CÓDIGO AQUI

##### 6.3 Crie uma coluna 'margem_lucro' que é 30% do valor_venda

In [ ]:
# SEU CÓDIGO AQUI

##### 6.4 Crie uma coluna categórica 'nivel_avaliacao' baseada na avaliação: 'Ruim' (1-2), 'Regular' (3), 'Bom' (4), 'Excelente' (5)

In [101]:
# SEU CÓDIGO AQUI

##### 6.5 Crie uma coluna 'acima_media' que tenha valor True se o valor_venda for superior à média de todas as vendas e False caso contrário

In [ ]:
# SEU CÓDIGO AQUI

---

# Você Chegou ao Fim!

Parabéns por ter chegado até aqui, guerreiro(a) dos dados! 
(A não ser que você tenha pulado tudo e vindo direto pra cá... hmm, estamos de olho 👀)

Esperamos que você tenha conseguido resolver todos os exercícios - ou pelo menos tenha quebrado a cabeça tentando! 😂

## 📋 Antes de enviar, dá uma conferida final:
- Todas as células estão funcionando? (Por favor, diz que sim 🙏)
- Você respondeu todas as questões? (Aquela do meio era difícil, né?)
- O código está rodando sem erros? (Ou sem MUITOS erros, pelo menos 😅)

## 📤 INSTRUÇÕES DE ENTREGA:
Envie este notebook para: lads.unama@gmail.com
Prazo: Domingo, 18/05/2025, às 23:59

Você pode mandar o arquivo direto ou o link do seu GitHub - escolha a opção que te deixa mais zen!

Boa sorte e até a próxima fase (pensamento positivo, né?)! 💪

— Equipe LADS, que já está ansiosa pra ver a magia que você fez com esses dados